Step 1: Read the csv file using pandas

In [12]:
import pandas as pd

file_path = r"C:\Users\arun prakash\OneDrive\Desktop\traffic_stops.csv"
df = pd.read_csv(file_path)

C:\Users\arun prakash\AppData\Local\Temp\ipykernel_424\1254529514.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Step 2: Check for Duplicate values

In [14]:
df = df.drop_duplicates()

Step 3: Check for null values

In [6]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

Step 4: Fill Null Values Using fillna Method

In [15]:
df['search_type'].fillna('Notspecified', inplace=True)
display(df['search_type'].value_counts())

C:\Users\arun prakash\AppData\Local\Temp\ipykernel_424\655428518.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['search_type'].fillna('Notspecified', inplace=True)

search_type
Frisk             21971
Vehicle Search    21847
Notspecified      21720
Name: count, dtype: int64

Step 5: Changing Data Types For 'stop_date' & 'stop_time' columns

In [17]:
from datetime import datetime

df['stop_date'] = pd.to_datetime(df['stop_date'], format = '%m/%d/%Y')
df['stop_time'] = pd.to_datetime(df['stop_time'], format = '%H:%M:%S')

Step 6: Droping the 'driver_age_raw' & 'violation_raw' columns

In [19]:
df.drop(columns=['driver_age_raw', 'violation_raw'], inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  datetime64[ns]
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation           65538 non-null  object
 7   search_conducted    65538 non-null  bool
 8   search_type         65538 non-null  object
 9   stop_outcome        65538 non-null  object
 10  is_arrested         65538 non-null  bool
 11  stop_duration       65538 non-null  object
 12  drugs_related_stop  65538 non-null  bool
 13  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](2), int64(1), object(8)
memory usage: 5.7+ MB

Step 7: SQL Connection

In [9]:
import mysql.connector

conn_mysql = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)
cursor_mysql = conn_mysql.cursor()
print("MySQL connection established!")

MySQL connection established!

Step 8: Creating the Database

In [10]:
cursor_mysql.execute("CREATE DATABASE IF NOT EXISTS Securecheck_db;")
print("MySQL database 'Securecheck_db' created successfully!")

MySQL database 'Securecheck_db' created successfully!

Step 9: Creating a Table in the Database

In [ ]:
cursor_mysql.execute("USE Securecheck_db;")  # Select database
cursor_mysql.execute("""
    CREATE TABLE IF NOT EXISTS Police_Checking (
        stop_date DATE,
        stop_time TIME,
        country_name VARCHAR(50),
        driver_gender VARCHAR(10),
        driver_age INT,
        driver_race VARCHAR(50),
        violation VARCHAR(50),
        search_conducted BOOLEAN,
        search_type VARCHAR(50),
        stop_outcome VARCHAR(50),
        is_arrested BOOLEAN,
        stop_duration VARCHAR(50),
        drugs_related_stop BOOLEAN,
        vehicle_number VARCHAR(50)
    );
""")
conn_mysql.commit()
print("Table 'Police_Checking' created successfully in MySQL!")

Table 'Police_Checking' created successfully in MySQL!

Step 10: Inserting the Data into the Table Using Different Methods to_list()

In [24]:
data_list = df.values.tolist()
query = """
    INSERT INTO Police_Checking (stop_date, stop_time, country_name, driver_gender,
    driver_age, driver_race, violation, search_conducted, search_type, stop_outcome,
    is_arrested, stop_duration, drugs_related_stop, vehicle_number)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

cursor_mysql.executemany(query, data_list)
conn_mysql.commit()
print("Data inserted using to_list()")

Data inserted using to_list()